.dropdownMenu {
  background-color: var(--neutralWhite);
}

.textDropdown {
  color: var(--textSecondaryDefault);
}

.textDropdown {
  padding: 10px 16px;
}
.dropdownMenu {
  opacity: 0;
  transform: translateY(-15px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
}

.dropdownMenu.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.textDropdown {
  transition: color 0.3s ease, background-color 0.3s ease;
}
.submenu {
  opacity: 0;
  transform: translateX(-10px); /* Start from 10px to the right */
  transition: opacity 0.3s ease, transform 0.3s ease;
  visibility: hidden;
}

.submenu.show {
  opacity: 1;
  transform: translateX(0); /* Move to its original position */
  visibility: visible;
}
