.heroSlider {
  position: relative;
  width: 100%;
  height: 630px;
  overflow: hidden;
  margin-top: 45px;
}

@media (max-width: 640px) {
  /* Styles for screens 640px and up */
  .heroSlider {
    width: 100%;
    height: 380px;
    margin-top: 70px;
  }
}

/* Medium devices (min-width: 768px) */
@media (max-width: 768px) {
  .heroSlider {
    height: 400px;
  }
  /* Styles for screens 768px and up */
}

@media (max-width: 1440px) {
  .heroSlider {
    width: 100%;
    height: 550px;
    margin-top: 80px;
  }
}


.embla__container {
  display: flex;
  height: 100%;
  transition: transform 5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
.embla__container {
  transition: none;
}

.embla__slide {
  min-width: 100%;
  flex: 0 0 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slideContent {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.textContainer {
  width: 100%;
  color: white;
}

/* .title {
  font-size: 48px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: uppercase;
} */

/* .description {
  font-size: 18px;
  margin-bottom: 30px;
} */

/* .button {
  background-color: #ff6b6b;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff4b4b;
} */

.dotContainer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dot.active {
  background-color: #ebebeb;
}
