/* .button {
  border: 2px solid transparent;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  outline: none;
  cursor: pointer;
} */

/* .button::disabled {
  cursor: not-allowed;
} */

.button {
  border: 2px solid transparent;
  font-size: 16px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  outline: none;
  cursor: pointer;
}

.button:disabled {
  cursor: not-allowed;
}


@media (max-width: 640px) {
  /* Styles for screens 640px and up */
  .button { 
    width: 130px;
    height: 30px;
  }
}

/* Medium devices (min-width: 768px) */
@media (min-width: 768px) {
  /* Styles for screens 768px and up */
}