@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  CSS Reset
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("/fonts/Gilroy/Gilroy-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}




@font-face {
  font-family: "Palladio";
  src: url("/fonts/palladio/P052-Roman.ttf") format("opentype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Palladio Bold";
  src: url("/fonts/palladio/P052-Bold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}



@font-face {
  font-family: "Transcend";
  src: url("/fonts/Transcend/Transcend/Transcend Bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}



/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"); */
:root {
  /* --fontPoppins: "Poppins", sans-serif; */
  --fontGilroy: "Gilroy", sans-serif;
  --fontPalladio: "Palladio", serif;
  --fontPalladioBold: "Palladio Bold", serif;
  --fontTranscend: "Transcend", serif;
  --normalFontWeight: normal;
  --boldFontWeight: bold;
  --buttonDefaultPrimary: #2b3e4f;
  --buttonHoverPrimary: #19242e;
  --buttonPressedPrimary: #121a21;
  --buttonDisabledPrimary: #dfdfdf;
  --buttonTextWhite: #ffffff;
  --buttonWhiteHover: #f5f5f5;
  --buttonWhitePressed: #ebebeb;
  --buttonWhiteTextBlue: #203fdf;
  --buttonTextDisabled: #a6a6a6;
  --brandBlueDark: #2b3e4f;
  --menuHoverColor: ;
  --menuFontColorDefault: ;
  --menuFontColorHover: ;
  --mainSuccessColor: ;
  --mainGrayFontColor: ;
  --mainShadowBox: ;
  --inputColorDefault: ;
  --inputColorHover: ;
  --inputColorDisabled: ;
  --inputBorderColorDefault: ;
  --inputBorderColorHover: ;
  --inputBorderColorFocus: ;
  --inputBorderColorError: ;
  --inputBorderColorDisabled: ;
  --bodyColor: #fafafa;
  --boxAdvantageColor: #fafafa;
  --buttonSecondaryDefault: #ebebeb;
  --buttonSecondaryHover: #dfdfdf;
  --buttonSecondaryPressed: #c1c1c1;
  --buttonSecondaryDisabled: #fafafa;
  --buttonTextSecondaryDisabled: #a6a6a6;
  --buttonTextSecondaryDefault: #79797a;
  --textSecondaryDefault: #000a33;
  --neutralWhite: #ffffff;
  --slidesBoxGray: #ebebeb;
  --brandBlue: #4262ff;
  --brandBlue500: #2b3e4f;
  --neutralWhiteButtonNextPrev: #fff;
}

body {
  background-color: var(--bodyColor);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Editor content background */
.editor-custom-bg .fr-element {
  background-color: #fafafa; /* Background for the text area */
}

/* Toolbar customization */
.editor-toolbar-custom .fr-toolbar {
  background-color: #fafafa; /* Background color for toolbar */
  padding: 4px 4px; /* Adjust the padding to make the toolbar smaller */
}

.editor-toolbar-custom .fr-command {
  font-size: 4px; /* Smaller font size for toolbar buttons */
  padding: 6px 8px; /* Adjust button padding to make it more compact */
}

.editor-toolbar-custom .fr-command:hover {
  background-color: #e0e0e0; /* Optional hover effect for toolbar buttons */
}

.fr-toolbar .fr-btn-grp {
  display: inline-block;
  margin: 0 !important;
}

.fr-second-toolbar:empty {
  background-color: #fafafa;
}

.editor-custom-bg .fr-box.fr-basic .fr-element {
  font-family: var(--fontGilroy) !important;
  color: var(--textSecondaryDefault);
  font-size: 16px;
}

.swiper-slide {
  width: 270px !important;
}

.custom-bullet {
  background-color: gray; /* Gray color for non-active bullets */
  opacity: 1;
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
}

.custom-bullet-active {
  background-color: darkgray; /* Dark gray color for active bullet */
}


@media (min-width: 1024px) and (max-width: 1379px) {
  .hide-register-1024-1380 {
    display: none;
  }
}